.demo
{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: #0A0A0A;
}

#demo-header
{
    font-size: 1.5rem;
}

.demo-buttons
{
    margin-top: 3vh;
    display: flex;
    gap: 1vh;
    align-self: center;
    gap: 2vw;
}

.demo-screens
{
    padding-bottom: 5vh;
}

.demo-buttons > button
{
    background-color: #00f8a3;
    border: none;
    border-radius: 4px;
    width: 150px;
    height: 35px;
    font-weight: 700;
    cursor: pointer;
}

.demo-text
{
    color: #F5FEFD;
}

.demo-controls
{
    display: flex;
    justify-content: space-between;
    padding-bottom: 2vh;
}

.landing-content
{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center; 
    color: #F5FEFD;
    width: 60vw;
}

.landing-content > h1
{
    font-size: 3rem;
}

.landing-content > p
{
    font-size: 1.2rem;
}