.demo
{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: #0a0a0a;
}

.demo-buttons
{
    margin-top: 3vh;
    display: flex;
    gap: 1vh;
    align-self: center;
    gap: 2vw;
}

.demo-screens > canvas
{
    border: 3px solid #f7f7f7;
}

.demo-text
{
    color: #f7f7f7;
}

.demo-controls
{
    display: flex;
    justify-content: space-between;
    padding-bottom: 2vh;
}

.landing-content
{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center; 
    color: #F5FEFD;
    background-color: #0A0A0A;
    width: 100%;
    align-items: center;
    height: auto;
}

.landing-content > h1
{
    font-size: 3rem;
    font-family: pixel;
    color: #42ff45;
}

.landing-content > p
{
    font-size: 1.2rem;
    line-height: 2.5vh;
    margin-top: .6vh;
    margin-bottom: 2.5vh;
    width: 60vw;
}

#reset
{
    background-color: #6060ff;
    border: none;
    border-radius: 4px;
    width: 150px;
    height: 35px;
    font-weight: 700;
    cursor: pointer;
}

#demo-header
{
    font-size: 1.5rem;
}

#controls, #demo-header
{
    font-family: pixel;
}

#grid
{
    border-right: none;
}

#render
{
    border-left: none;
}