.intro
{
    background-color: #151515;
    position: relative;
}

.intro-header
{
    background-color: #0A0A0A;
    color: #F5FEFD;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0 2vw;
}

.intro-body
{
    height: auto;
}

.intro-header-title > h1
{
    font-size: 1.5rem;
}

.intro-header-title > h2
{
    font-size: 1rem;
}

.intro-header-links
{
    display: flex;
    gap: 1vw;
}

.learning-text-title
{
    margin-bottom: 1vh;
}

.learning-text-list
{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    padding-left: 1vw;
}

.learning-text-list > li
{
    font-weight: 500;
    font-size: 1.2rem;
}


