.intro
{
    background-color: #151515;
    position: relative;
    display: flex;
    flex-direction: column;
}

.intro-body
{
    height: auto;
    padding-bottom: 2vh;
    display: flex;
    flex-direction: column;
}

.learning-text-list
{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    padding-left: 1vw;
}

.learning-text-list > li
{
    font-weight: 500;
    font-size: 1.2rem;
}


